<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VK Posts</title>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168" charset="windows-1251"></script>

</head>

<body>
    <ul>
        {% for post in posts %}
        <!-- Put this script tag to the place, where the Post block will be -->
        <div id='{{ post.widget_id }}'></div>
        <script type="text/javascript">
            VK.Widgets.Post('{{ post.widget_id }}', '{{ post.owner_id }}', '{{ post.post_id }}', '{{ post.hash }}');
        </script>
        {% endfor %}
    </ul>
</body>

</html>